/* .add-venue {
  color: #aaa;
  text-align: center;
}

.register-inputs {
  margin: 10px;
  margin-left: 10%;
  height: 30px;
  width: 80%;
  font-size: 17px;
  border: none;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
  padding: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.register-inputs::placeholder {
  color: #bdc7c1;
}

.register-text-area {
  border: none;
  padding: 10px;
  width: 79.5%;
  height: auto;
  line-height: 24px;
  overflow: auto;
  font-size: 17px;
  resize: none;
  color: #ccc;
  margin-left: 10%;
  background: rgba(2, 0, 7, 0.2);
}

.register-text-area::placeholder {
  color: #ccc;
}

#venue-submit-button {
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  color: #aaa;
  background: rgba(0,0,0,0.4);
  cursor: pointer;
}

#venue-submit-button:hover {
  color: rgb(55, 131, 194);
  background: rgba(0,0,0,0.8);
} */

.venue-submit-btn-containing-div {
  text-align: center;
}

#addvenue-back-button {
  position: absolute;
  top: 30px;
  left: 2%;
  font-size: 35px;
  text-decoration: none;
  color: #ccc;
}

#addvenue-back-button:hover {
  background: rgb(55, 131, 194);
  border-radius: 50%;
  color: rgba(0,0,0,0.8);
}

#addvenue-back-button:active {
  font-size: 33px;
} 