.nested_comment_form {
  display: flex;
  flex-direction: column; 
  background: none;
}

/* form buttons */
.nested_comments_form_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
}