.post-profile-popup-and-buttons-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.post-profile-buttons-container {
  display: flex; 
  align-items: space-around;
}

.post-profile-liked-posts-liked {
  background: rgba(0,0,0,0.65);
  color: var(--reps-blue); 
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.post-profile-liked-posts-unliked {
  background: rgba(0,0,0,0.65);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.post-profile-add-media {
    margin: 0px 5px;
    background: rgba(0,0,0,0.65);
    color: var(--secondary-color);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
#post-profile-add-media-link {
  text-decoration: none; 
  color: var(--secondary-color);
}

.post-profile-notifications {
  position: relative;
  padding: 10px 25px;
  background: rgba(0,0,0,0.65);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.notification-color {
  color: rgb(133, 58, 49);
}
.notification_count {
  position: absolute;
  right: 20%;
  top: 15%;
}
.mobile_icon_media_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  cursor: pointer;
}
#mobile_icon_media {
  padding: 10px 0;
  font-size: 18px;
}
.mobile_icon_like_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  cursor: pointer;
}
#mobile_icon_like {
  padding: 10px 0;
}
.notifications_on_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  cursor: pointer;
}