/* .post-profile-avatar-container {
  padding: 5px; 
  text-align: center;
}

#posts-profile-img {
  width: 65px;
  height: 65px; 
  border-radius: 50%;
  margin-top: 40px;
  border: 2px solid var(--secondary-color);
} */

.post-profile-popup-and-buttons-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.post-profile-buttons-container {
  display: flex; 
  align-items: space-around;
}

.post-profile-liked-posts-liked {
  background: var(--lighter);
  color: var(--deep-color); 
  cursor: pointer;
  border: .5px solid var(--border-color);
  outline: none;
}

.post-profile-liked-posts-unliked {
  background: rgba(0,0,0,0.85);
  color: var(--secondary-color);
  cursor: pointer;
  border: 0.5px solid var(--border-color);
  outline: none;
}

.post-profile-add-media {
    margin: 0px 5px;
    background: rgba(0,0,0,0.85);
    color: var(--secondary-color);
    cursor: pointer;
    border: 0.5px solid var(--border-color);
    outline: none;
}
#post-profile-add-media-link {
  text-decoration: none; 
  color: var(--secondary-color);
}

.post-profile-notifications {
  position: relative;
  padding: 10px 25px;
  background: rgba(0,0,0,0.85);
  color: var(--secondary-color);
  cursor: pointer;
  border: 0.5px solid var(--border-color);
  outline: none;
}

.notification-color {
  color: rgb(133, 58, 49);
}
.notification_count {
  position: absolute;
  right: 20%;
  top: 15%;
}