#login-content {
  margin-left: 5%;
  width: 150vw;

}

#login-page-button {
  font-size: 12px;
  padding: 8px;
  margin: 10px; 
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
}

#login-page-button:hover {
  font-size: 12.5px;
  cursor: pointer;
}

@media (min-width: 800px) {
  #login-content {
    margin-left: 25%;
    width: 100%;
  }
}