#login-page-button {
  font-size: 17px;
  padding: 8px;
  margin: 10px; 
  border: none;
  border-radius: 2px;
  outline: none;
  /* color: rgb(55, 131, 194); */
  background: rgba(0, 0, 0, 0.1);
}

#login-page-button:hover {
  font-size: 15px;
}