.register-container {
  width: 100%;
  padding: 5px;
}

#register-content {
  width: 100%;
}


#register-form {
}

#register-button {
  font-size: 17px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
  color: #aaa;
  color: rgb(55, 131, 194);
  background: rgba(0, 0, 0, 0.5);
}

#register-button:hover {
  color: rgb(55, 131, 194);
  background: rgba(0,0,0,0.9);
  cursor: pointer;
}

@media (min-width: 800px) {
  #register-content {
    margin-left: 25%;
    width: 50%;
  }
  #register-form {
    padding: 10 0;
  }
}