.registers-inputs {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin: 15px 0px;
  background: rgba(200,200,200,0.9);
  color: var(--primary-color);
  border: none;
  outline: none;
}
.registers-inputs::placeholder {
  color: var(--primary-color);
}