.chatroom {
  background: var(--deep-color);
}

#chatroom-header {
  /* background: var(--secondary-color); */
  background: var(--reps-blue);
  min-height: 50px;
}

#speakeasy {
  color: var(--primary-color);
  padding: 5px;
  position: absolute;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 14px;
}

#chatroom_count {
  color: var(--primary-color);
  position: absolute;
  right: 0;
  padding: 5px;
}

#chat-window::-webkit-scrollbar {
  width: 5px;
}

#chat-window {
  padding: 0px 5px;
  overflow: auto;
}

.chatroom-avatar {
  font-size: 25px;
}

#output {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column-reverse;
}

.message_and_button_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid var(--reps-blue);
}

#chat_message {
  flex: 1;
  background: var(--shallow-color);
  color: var(--text-color);
  padding: 10px;
  margin: 1px;
  margin-right: 0;
  border: none;
}
#chat_message::placeholder {
  color: gray;
}

#chat_submit_button {
  background: var(--reps-blue);
  border: none;
  cursor: pointer;
}