body { 
  margin: 0px;  
  background: #060606;  
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(200,200,200,.6);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar-thumb {} */

/* ::-webkit-scrollbar-track {} */