* {
  /* --primary-color: rgb(225,225,255);
  --secondary-color: rgb(51, 149, 230);
  --border-color: rgba(51, 149, 230, 0.3);
  --text-color: #000; */
  
  /* --primary-color: rgb(9, 10, 15);
  --secondary-color: rgb(192, 52, 169);
  --border-color: rgba(192, 52, 169, 0.3);
  --text-color: #fff; */

  /* --primary-color: rgb(9, 10, 15); */
  /* --secondary-color: rgb(55, 131, 194); */
  /* --border-color: rgba(55,131,194, 0.3); */
  --primary-color: rgb(21, 23, 24);
  --post-color: rgba(29, 33, 35, 1);
  --comments-color: rgb(18, 19, 20);
  --nested-comments-color: rgb(9, 10, 11);
  --secondary-color: rgb(247, 240, 240);
  --border-color: rgba(153, 157, 161, 0.1);
  --text-color: rgba(200, 200, 200, 1);
  --reps-blue: rgb(55,131,194);
  --lighter: rgb(168, 178, 180);
  --shallow-color: rgb(13,13,13);
  --deep-color: black;
  box-sizing: border-box;
  text-decoration: none;
  outline-width: .5px; 
  outline-color: var(--border-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
body::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar {
  width: 5px;
}

body {
  margin: 0px;
  background: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

h2 {
  text-align: center; 
  padding-top: 80px;
}

a { color: var(--secondary-color); }

input {
  -webkit-appearance: none;
}
input[type=checkbox] {
  -webkit-appearance: checkbox;
}
.invalid-feedback { color: red; }

/* background: #050c14;   */
/* background: #020811; */
/* background: rgb(4,6,8); */
/* background: rgb(10, 19, 29); */
/* background: rgb(6, 9, 14); */
/* background: #282c35; Dan Abramov  */
/* background: rgb(7, 10, 17); */
/* background: #071020; */