.profiles_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.reps-search-div {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  max-width: 320px;
}
.reps-search-input {
  padding: 10px 0px;
  border: none;
  flex: 1;
  background: var(--secondary-color);
  border-radius: 0;
}
.reps-search-btn {
  border: none;
  cursor: pointer;
  outline: none;
  background: var(--secondary-color);
}
#reps-search-icon {
  font-size: 16px;
  color: gray;
}