.profiles_item {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .3px solid var(--border-color);
  /* background: rgba(4, 9, 12, 0.7); */
}

#profiles_avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#profiles-item-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.djs_profile_card {
  padding: 10px;
  width: 320px;
  height: 300px;
  margin: 10px;
}

@media(max-width: 400px) {
  .djs_profile_card {
    width: 90vw;
    margin: 10px 0px;
  }
} 