.profiles_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.reps-search-div {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.reps-search-input {
  padding: 5px;
}
.reps-search-btn {
  
}