.profiles_item {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  /* border: .3px solid var(--border-color); */
  background: var(--nested-comments-color);
  border-radius: 10px;
}

#profiles_avatar {
  width: 100%;
}

.djs_profile_card {
  width: 100%;
}

#profiles-item-link {
  text-decoration: none;
  color: var(--reps-blue);
  font-size: 12px;
}

#reps-card-iframe {
  width: 100%;
  height: 100%;
}

@media(max-width: 400px) {
  .djs_profile_card {
    margin: 10px 0px;
  }
} 