#dashboard {
  padding-top: 80px;
}

#dashboard-container {
  text-align: center;
}

.handle_actions_container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  max-width: 80%; 
  margin: auto;
  padding: 10px;
}

.handle_actions_container > a {
  padding: 10px;
  color: var(--reps-blue);
}

.dashboard_ad_container {
  text-align: center;
  padding: 50px 10%;
}

.dashboard_ad_container > div {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
}

.ad_img_btn_container {
  padding: 20px;
}

.ad_img_btn_container > img {
  height: 100px; 
  width: 100px; 
}

#dashboard-delete-btn {
  font-size: 17px; 
  padding: 10px;
  background: none;
  color: #aaa;
  border: none;
  border-radius: 2%;
  margin: 30px;
  cursor: pointer;
  outline: none;
}
#dashboard-delete-btn:hover {
  color: red;
}

#djpools_delete_btn {
  padding: 10px;
  width: 100px;
  background: rgba(0, 0, 0, 0.4);
  color: #aaa;
  border: none;
  outline: none;
  border-radius: 5%;
  display: inline-block;
}

#djpools_delete_btn:hover {
  color: rgb(55, 131, 194);
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.dashboard_profile_actions {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: center; 
  padding: 10px 0px;
}
.dashboard_profile_actions > a {
  padding: 0px 10px 5px 10px; 
  text-decoration: none; 
  color: var(--reps-blue);
}
.dashboard_profile_actions > a > span {
  color: var(--text-color); 
  padding: 0px 5px;
}
.dashboard_profile_actions > a > span:hover {
  color: var(--reps-blue);
}
.dashboard_no_profile {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}