.edit-profile {
  background: #050c14;
  color: #aaa;
  min-height: 100vh;
  padding-top: 70px;
}

#edit-profile-back-button {
  position: absolute;
  top: 30px;
  margin-left: 2%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #ccc;
}

#edit-profile-back-button:hover {
  background: rgb(55, 131, 194);
  border-radius: 50%;
  color: rgba(0,0,0,0.8);
}

#edit-profile-back-button:active {
  height: 35px;
  width: 35px;
}

.select-list {
  color: #bdc7c1;
}

.social-links {
  background: rgba(0,0,0,0.8);
  color: #aaa;
}

.row {
  display: flex;
  margin: auto;
  flex-direction: column;
}

#edit-profile-back-btn {
  width: 35px;
  height: 35px;
}

#edit-profile-social-btn {
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px;
  font-size: 17px; 
  border: none; 
  background: rgba(0,0,0,0.4);
  color: #aaa;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#edit-profile-social-btn:hover {
  color: rgb(55, 131, 194);
  background: rgba(0,0,0,0.8);
}

#edit-profile-submit-btn {
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  color: #aaa;
  background: rgba(0,0,0,0.4);
  cursor: pointer;
}

#edit-profile-submit-btn:hover {
  color: rgb(55, 131, 194);
  background: rgba(0,0,0,0.8);
}