/*       Mobile         */

.notifications {
  color: var(--secondary-color); 
  padding-top: 100px;
}

#notifications_header {
  text-align: center;
}

.notifications_container {
  width: 90%;
  max-width: 500px;
  border: 0.5px solid rgba(200,200,200,0.1);
  border-radius: 5px;
  margin: 15px auto; 
  padding: 10px 0px;
}
.notifications_container::before {
  content: 'Seen';
  padding-left: 10px;
}

.new_notification {
  width: 90%;
  max-width: 500px;
  border: 0.5px solid var(--border-color);
  margin: 35px auto;
  background: #000;
  padding: 10px 0px;
  border-radius: 2px;
}
.new_notification::before {
  content: '\01F525 New \01F525';
  padding-left: 10px;
}

.notification_avatar_and_message_container { 
  display: flex; 
  align-items: center;
  justify-content: center; 
}
.notification_user_avatar {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  margin-right: 10px;
}
.notification_message {
  color: var(--text-color);
}
.notification_post_content {
  width: 70%; 
  margin: auto; 
  display: flex; 
  align-items: center; 
  justify-content: space-evenly; 
  border: 0.5px solid var(--border-color);
  border-radius: 5px; 
  padding: 10px;
  cursor: pointer;
}
.notification_post_content_image {
  width: 30px;
  height: 30px; 
  margin-left: 10px;
}
.notification_highlights {
  height: 100%;
  width: 90%;
}
.notification_icons {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.notification_date {
  color: var(--text-color);
  margin-left: 10px;
}

.notifications_modal_wrapper {
  max-height: 80vh;
}