.notifications_container {
  width: 100%;
  padding: 10px; 
  background: rgba(5,31,100,0.1); 
  border-radius: 3px;
  margin: 15px 0px; 
}

.notifications_container:hover {
  background: rgba(0,0,0,0.5);
  border: .5px solid rgba(55,131,194,0.1);
}

.seen {
  border: 1px solid rgb(55, 131, 194);
  margin: 35px 0px;
}
.seen:hover {
  border: 1px solid rgb(55, 131, 194);
}
.seen::before {
  content: '\01F525';
  margin-left: 50%;
}


@media(min-width: 1200px) {
  .notifications_container {
    width: 70%;
    margin: 15px 15%;
  }
  .seen {
    margin: 35px 15%;
  }
}