.post_form {
  /* background: rgba(4, 9, 12, 0.918);  */
  /* background: rgba(0,0,0,0.5); */
  width: 93%;
  margin-left: 3.5%;
  border: 0.1px solid rgba(55, 131, 194, 0.3);
}

.disp {
  display: none; 
}

.text-area {
  /* border: 1px solid rgb(21, 58, 88); */
  border: none;
  padding: 10px;
  /* width: 80%; */
  width: 93%;
  height: auto;
  line-height: 24px;
  overflow: auto;
  font-size: 17px;
  resize: none;
  color: #ccc;
  /* background: #142634; */
  /* background: rgba(2, 0, 7, 0.5); */
  /* background: rgba(4, 9, 12, 0.918);   */
  background: rgba(0,0,0,0);
}

::placeholder {
  color: rgb(55, 131, 194);
}

#post-form-textareafieldgroup {
  /* margin:  0 3.5%; */
  padding: 5px;
  background: rgba(0,0,0,0.2);              /* changed opacity from .05 */
  /* background: rgba(4, 9, 12, 0.918);  */
  /* margin-left: 12%; */
  /* display: grid;
  justify-items: center; */
}

.text-area:focus {
  outline: none;
}
.post-form-text-area {
  /* border: 1px solid rgb(21, 58, 88); */
  border: none;
  padding: 10px;
  width: 79.5%;
  height: auto;
  line-height: 24px;
  overflow: auto;
  font-size: 17px;
  resize: none;
  color: #ccc;
  margin-left: 10%;
  /* background: #142634; */
 
}

.post-form-text-area::placeholder {
  color: #ccc;
}

.otherstuff {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.post_submit_button {
  cursor: pointer;
  color: rgb(55,131,194);
  background: none;
  border: none;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
}

.post_submit_button:hover {
}