.post_form {
  width: 100%;
  border: .5px solid rgba(55,131,194,0.3);
  border-radius: 5px;
}

.disp {
  display: none; 
}

.text-area {
  border: none;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: auto;
  line-height: 24px;
  /* overflow: auto; */
  font-size: 17px;
  resize: none;
  color: var(--text-color);
  background: none;
}

::placeholder {
  color: rgb(55, 131, 194);
}

#post-form-textareafieldgroup {
}

.text-area:focus {
  outline: none;
}
.post-form-text-area {
  border: none;
  padding: 10px;
  width: 79.5%;
  height: auto;
  line-height: 24px;
  /* overflow: auto; */
  font-size: 17px;
  resize: none;
  color: rgba(200,200,200,.6);;
  margin-left: 10%;
 
}

.post-form-text-area::placeholder {
  color: rgba(200,200,200,.6);;
}

.otherstuff {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.post_submit_button {
  cursor: pointer;
  color: rgb(55,131,194);
  background: none;
  border: none;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
}

.post_submit_button:hover {
}