.post_form {

}

.disp {
  display: none; 
}

.text-area {
  border: 1px solid rgb(21, 58, 88);
  padding: 10px;
  /* width: 80%; */
  width: 93%;
  height: auto;
  line-height: 24px;
  overflow: auto;
  font-size: 17px;
  resize: none;
  color: #ccc;
  /* background: #142634; */
  background: rgba(2, 0, 7, 0.1);
}

::placeholder {
  color: rgb(55, 131, 194);
}

#post-form-textareafieldgroup {
  margin-left: 3.5%;
  /* margin-left: 12%; */
  /* display: grid;
  justify-items: center; */
}

.text-area:focus {
  outline: none;


}
.post-form-text-area {
  /* border: 1px solid rgb(21, 58, 88); */
  border: none;
  padding: 10px;
  width: 79.5%;
  height: auto;
  line-height: 24px;
  overflow: auto;
  font-size: 17px;
  resize: none;
  color: #ccc;
  margin-left: 10%;
  /* background: #142634; */
  background: rgba(2, 0, 7, 0.2);
}

.post-form-text-area::placeholder {
  color: #ccc;
}

.otherstuff {
  display: flex;
  justify-content: space-around;
}

#add-photo {
  width: 25px; 
  height: 25px;
  background: none;
  color: rgb(55, 131, 194);
}

#add-photo:hover {
  color: rgb(78, 168, 241);
}

.post_submit_button {
  cursor: pointer;
  color: rgb(55,131,194);
  background: none;
  border: none;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
  /* background: #050c14; */
  /* background-color: rgba(155, 155, 255, 0.1); */
}

#post-submit-icon {
  width: 20px;
  height: 20px;
}

#post-submit-icon:hover {
  /* width: 25px;
  height: 25px; */
}

.post_submit_button:hover {
  color: rgb(78, 168, 241);
  /* background: rgba(2, 0, 7, .8); */
}