.posts_container {
  width: 90%;
  margin: auto;
  border:none;
  outline: none;
  margin-bottom: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  
    'postavatarandname'
    'postcontent'
    'icons'
}

.post_avatar_and_name {
  display: flex;
  justify-content: start;
  padding: 5px;
  grid-area: postavatarandname;
}

.post_avatar_img {
  border-radius: 50%;
  border: 3px solid rgb(135, 179, 247);
  width: 50px;
  height: 50px;
  margin-right: 5px;
  grid-area: avatar;
}

.post_name {
  grid-area: name;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(29, 138, 228);
}

.post_content {
  grid-area: postcontent;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
  color: #bdc7c1;
  text-align: left;
}

.postfeed_icons {
  /* display: inline-block;
  padding: 2px;
  margin: 0 15px;
  margin-bottom: -10px;
  box-sizing: border-box;
  border: 1px solid black; */
}

.postfeed_buttons { 
  /* background-color: rgba(155, 155, 255, 0.0); */
  background: #5a666b;
  outline: none;
  margin: 1px;
}

.icons {
  grid-area: icons;
  padding: 10px;
}

.like {
  color: rgba(0,0,0,0.5);
}

.like:hover {
  color: rgba(5, 54, 100, 0.9);
}

.liked {
  color: rgb(29, 138, 228);
  
}

#unlike {
  color: rgba(0,0,0,0.5);
}

#unlike:hover {
  color: rgb(12, 124, 29);
}

#comment:hover { 
  color: #d48872;
}

.delete {
  color: rgba(0,0,0,0.5);
}

.delete:hover {
  color: red;
}

@media (min-width: 900px) {
  .posts_container {
    border: none;
    margin-bottom: 5px;
    display: grid;
    justify-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    grid-template-areas:  
      'avatar' 'name'
      'avatar' 'postcontent'
      'avatar' 'icons'
  }
}