.feed {
  /* background: black; */
  /* background: #050c14;   */
  background: rgba(4, 9, 12, 0.918);  
  /* background: rgb(13, 18, 24); */
  min-height: 100vh;
  /* padding: 100px 4vw 0 4vw; */
  padding-top: 100px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:  
    'postform'
    'post-feed-post-content'
    'footer'
}

.post-feed-profile {
  grid-area: profile;
  display: none;
}

#posts-profile-img {
  width: 65px;
  height: 65px; 
  border-radius: 50%;
  border: 2.5px solid rgb(57, 106, 146);
}

.post-feed-form {
  grid-area: postform;
}

.post-feed-post-content {
  grid-area: post-feed-post-content;
}

.stores_container {
  display: none;
}

.djpools {
  display: none;
}

.perks_and_hookups {
  display: none;
}

.certified_brands {
  display: none;
}

.post-feed-footer {
  grid-area: footer;
  /* background: #142634; */
  padding: 5px;
  text-align: center;
  font-size: 13px;
  border: none;
  color: rgb(55, 131, 194);
  font-size: 12px;
  /* color: #d48872; */
}

@media (min-width: 950px) {
  .feed {
    padding: 100px 10vw 0 10vw;  /*4vw */
    display: grid;
    grid-gap: 35px;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
      'profile postform footer'
      'djpools post-feed-post-content stores'
      'perks post-feed-post-content brands'; 
  }

  .post-feed-profile {
    display: block;
    grid-area: profile;
    padding: 20px 5px 0 5px;
    border-radius: 2%;
    background: rgba(2, 4, 5, 0.884);
  }

  .stores_container {
    grid-area: stores;
    display: flex;
    height: 150px;
    width: 170px;
    border-radius: 2%;
    background: rgba(2, 4, 5, 0.884);
  }

  .djpools {
    grid-area: djpools;
    display: flex;
    position: relative;
    width: 170px;
    height: 150px;
    overflow-x: hidden;
    border-radius: 2%;
  }

  .perks_and_hookups {
    grid-area: perks;
    display: flex;
    position: relative;
    width: 170px;
    height: 150px;
    overflow-x: hidden;
    border-radius: 2%;
    background: rgba(2, 4, 5, 0.884);
    color: #555;
  }

  .certified_brands {
    grid-area: brands;
    display: flex;
    position: relative;
    width: 170px;
    height: 150px;
    overflow-x: hidden;
    border-radius: 2%;
    background: rgba(2, 4, 5, 0.884);
  }

  .post-feed-footer {
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 90px;
    width: 150px;
    border-radius: 2%;
    background: rgba(2, 4, 5, 0.884);
  }
}

@media(min-width: 1500px) {
  .feed {
    padding: 100px 23vw 0 23vw;
  }
}