.posts_container {
  /* background: rgb(5, 22, 37);  reversed from posts.css  */ 
  background: rgba(4, 9, 12, 0.918);  

  /* background: rgba(0,0,0,.5);   last dark mode*/
  /* background: rgb(7, 10, 17); */
  width: 90%;
  margin: auto;
  border:none;
  outline: none;
  margin-bottom: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  
    'postavatarandname'
    'postcontent'
    'icons'
}

.post_avatar_and_name {
  display: flex;
  justify-content: start;
  padding: 5px;
  grid-area: postavatarandname;
}

.post_avatar_img {
  border-radius: 50%;
  border: 3px solid rgb(135, 179, 247);
  width: 50px;
  height: 50px;
  margin-right: 5px;
  grid-area: avatar;
}

.post_avatar_img:hover {
  cursor: pointer;
}

.post_name {
  grid-area: name;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(29, 138, 228);
  font-size: 13px;
}

.post_name:hover {
  cursor: pointer;
}

.post_feed_date {
  color: #7e8889;
  font-size: 13px;
  margin-top: -7px;
}

.post_content {
  grid-area: postcontent;
  padding: 5px;
  font-family: sans-serif;
  color: #bdc7c1;
  text-align: left;
}

#post-link-img:hover {
  opacity: .8;
}

.postfeed_buttons { 
  /* background-color: rgba(155, 155, 255, 0.0); */
  /* background: #5a666b; */
  background: rgba(0,0,0,0.4);
  color: rgb(5, 54, 100);
  outline: none;
  margin: 2px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.postfeed_buttons:hover {
  background: rgba(0,0,0,0.8);
  color: rgb(29, 138, 255);
}

.icons {
  grid-area: icons;
  padding: 10px;
}

.like {
  /* color: rgba(0,0,0,0.5); */
}

.like:hover {
  /* color: rgba(5, 54, 100, 0.9); */
  color: rgb(29, 138, 255);
}

.liked {
  /* color: rgb(29, 138, 228); */
  background: rgba(0,0,0,0.8);
  color: rgb(29, 138, 255);
}

#unlike {
  /* color: rgba(0,0,0,0.5); */
}

#unlike:hover {
  /* color: rgb(12, 124, 29); */
  /* color: #9932CC; */
}

#comment:hover { 
  /* color: #9932CC; */
}

.delete {
  /* color: rgba(0,0,0,0.5); */
}

.delete:hover {
  color: red;
}

@media (min-width: 900px) {
  .posts_container {
    /* border: none; */
    margin-bottom: 5px;
    /* display: grid; */
    /* justify-items: center; */
    /* grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px; */
    /* grid-template-areas:  
      'avatar' 'name'
      'avatar' 'postcontent'
      'avatar' 'icons' */
  }
}