.feed {
  /* background: #050c14;   */
  /* background: #020811; */
  /* background: rgb(4,6,8); */
  /* background: rgb(10, 19, 29); */
  /* background: rgb(6, 9, 14); */
  /* background: #282c35;  /*Dan Abramov   
  /* background: rgb(7, 10, 17); */
  /* background: #151515; */
  /* background: #071020; */
  /* min-height: 100vh; */
  padding-top: 100px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:  
    'searchbarpost searchbar'
    'postform postform'
    'post-feed-post-content post-feed-post-content' 
}

.red {
  color: rgb(133, 58, 49);
}
.notification_count {
  position: absolute;
  right: 20%;
  top: 15%;
}

.searchbar {
  grid-area: searchbar;
  right: 3.5vw;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
}

.searchbar_items {
  padding: 10px; 
  width: 220px;
  background: rgba(0,0,0,0.5);
}
.searchbar_items:hover {
  background: black;
  cursor: pointer;
}
.searchbar_links {
  color: rgb(55, 131, 194);
  text-decoration: none;
  list-style: none;
}

.searchbarpost {
  grid-area: searchbarpost;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
} 
.searchbarinput {
  flex: 8; 
  background: rgba(0,0,0,0.5); 
  border: none; 
  margin-left: 3.5vw;
  color: #ccc;
  font-size: 13px;
  outline: none;
}
.searchbarinput::placeholder {
  font-size: 13px;
  padding-left: 5px;
}

.searchbarpostbtn {
  flex: 1;
  cursor: pointer;  
  outline: none; 
  height: 40; 
  background: rgba(0,0,0,0.5);
  color: rgb(55, 131, 194);
  padding: 10; 
  border: none;
}
.searchbarpostbtn:hover {
  background: rgba(0,0,0,1);

}

.post-feed-profile {
  grid-area: profile;
  display: none;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popupcontent {
  visibility: hidden;
  width: 200px;
  background-color: #030303;
  color: #fff;
  text-align: center;
  /* border: 0.5px solid rgb(55, 131, 194); */
  border: 0.4px solid rgba(55, 131, 194, 1);
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -100px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Popup arrow */
.popup .popupcontent::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(55, 131, 194) transparent;
}

/* The like popup */
.popup .likespopupcontent {
  visibility: hidden;
  width: 300px;
  max-height: 400px;
  background-color: #030303;
  color: rgb(55, 131, 194);
  text-align: center;
  border: 0.5px solid rgb(55, 131, 194);
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* LikesPopup arrow */
.popup .likespopupcontent::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(55, 131, 194) transparent transparent transparent;
}

.likespopupavatarandname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.likespopupicon {
  color: rgb(29, 138, 255);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.popup-profile-img {
  width: 50px;
  height: 50px; 
  margin: 5px 0;
  border-radius: 50%;
  border: 2px solid rgb(55, 131, 194);
}


#posts-profile-img {
  width: 65px;
  height: 65px; 
  border-radius: 50%;
  margin-top: 60px;
  margin-bottom: -20px;
  border: 2px solid rgb(55, 131, 194);
}

.post-feed-form {
  grid-area: postform;
  min-width: 100%;
}

.post-feed-post-content {
  grid-area: post-feed-post-content;
}

.post-feed-highlights {
  display: none;
}

.test {
  display: none;
}

.img_test {
  display: none;
}

.stores_container {
  display: none;
}

.djpools {
  display: none;
}

.perks_and_hookups {
  display: none;
}

.certified_brands {
  display: none;
}

.post-feed-footer {
  display: none;
  grid-area: footer;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  text-align: center;
  font-size: 13px;
  border: none;
  color: rgb(55, 131, 194);
  font-size: 12px;
}

@media (min-width: 1200px) {
  .feed {
    padding: 100px 5vw 0 5vw;  
    display: grid;
    grid-gap: 35px;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
      'searchbarpost postform searchbar'
      'profile post-feed-post-content postfeedhighlights'
      'test post-feed-post-content stores'
      'perks post-feed-post-content brands'; 
  }

  .searchbar {
    display: flex;
    justify-content: space-between;
    right: 0;
    width: 250px;
  }
  .searchbar_items {
    padding: 10px; 
    width: 230px; 
    /* background: rgba(245, 245, 245, 0.8); */
    background: rgba(0,0,0,0.5);
  }
  .searchbar_items:hover {
    background: black;
    cursor: pointer;
  }
  .searchbar_links {
    color: rgb(55, 131, 194);
    text-decoration: none;
    list-style: none;
  }
  .searchbarpost {
    grid-area: searchbarpost;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    margin-right: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
  }
  .searchbarpost:hover {
    background: rgba(0,0,0,0.9);
  }

  .searchbarinput {
    margin-left: 0;
    flex: 7;
    background: none;
    outline: none;
  }

  .searchbarpostbtn {
    cursor: pointer;  
    flex: 1; 
    outline: none; 
    height: 40; 
    background: rgba(0,0,0,0.3); 
    color: rgb(55, 131, 194);
    padding: 10; 
  }

  .post-feed-profile {
    display: flex;
    justify-content: center;
    grid-area: profile;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 250px;
    height: 250px;
    margin-top: -30px;
  }
  .post-feed-profile:hover {
    background: rgba(0,0,0,0.8);
  }

  .test {
    grid-area: test;
    display: flex;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
  }

  .test2 {
    display: flex;
    height: 250px;
    width: 250px;
    margin-left: 0;
    transition: margin-left 6s;
    transition-timing-function: linear;
    /* cubic-bezier(0.2, .6, .7, 0.15); */
    /* cubic-bezier(0.4,0,0.58,1); */
  }
  .test2:hover {
    margin-left: calc(-250px * 4);
    /* margin-left: -750px; */
  }

  .post-feed-highlights {
    grid-area: postfeedhighlights;
    display: flex;
    width: 250px;
    height: 250px;
    margin: 0;
    margin-top: -30px;
  }

  .stores_container {
    grid-area: stores;
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 2%;
  }

  .djpools {
    grid-area: djpools;
    display: none;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
  }

  .perks_and_hookups {
    grid-area: perks;
    display: flex;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
    color: #555;
  }

  .certified_brands {
    grid-area: brands;
    display: flex;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
  }

  .post-feed-footer {
    display: none;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 240px;
  }
}

@media(min-width: 1500px) {
  .feed {
    padding: 100px 14vw 0 14vw;
  }
}