.posts_container {
  /* background: rgba(0,0,0,.5); */
  width: 99.8%;
  border: .5px solid rgba(55, 131, 194, 0.1);
  outline: none;
  margin-bottom: 5px;
  display: grid;
  overflow: hidden;
  border-radius: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  
    'postavatarandname'
    'postcontent'
    'icons'
}

.posts_container:hover {
  background: rgba(0,0,0,0.5);
}

.post_avatar_and_name {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  grid-area: postavatarandname;
}

.post_avatar_img {
  border-radius: 50%;
  border: 2px solid rgb(55, 131, 194);
  width: 50px;
  height: 50px;
  margin-right: 5px;
  grid-area: avatar;
}

.post_avatar_img:hover {
  cursor: pointer;
}

.hashtag_match {
  color: rgb(29, 138, 228);
}

.hashtags a {
  color: rgb(29, 138, 255);
  text-decoration-line: none;
  cursor: pointer;
}

.post_name {
  grid-area: name;
  color: rgb(29, 138, 228);
  font-size: 13px;
}

.post_name:hover {
  cursor: pointer;
}

.post_feed_date {
  /* color: #7e8889; */
  color: rgba(200,200,200,.6);
  font-size: 13px;
  margin-top: -7px;
}

.post_content {
  grid-area: postcontent;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(200,200,200,.6);
  /* color: #7e8889; */
  text-align: left;
}

.postfeed-media-pic {
  width: 100%;
}

.postfeed-media-pic:hover {
  cursor: pointer;
}

#post-link-img:hover {
  opacity: .8;
}

.postfeed_buttons { 
  background: rgba(0,0,0,0.4);
  color: rgb(5, 54, 100);
  outline: none;
  margin: 2px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.postfeed_buttons:hover {
  background: rgba(0,0,0,0.8);
  color: rgb(29, 138, 255);
}

.icons {
  grid-area: icons;
  padding: 10px;
}

.like {}

.like:hover {
  color: rgb(29, 138, 255);
}

.liked {
  background: rgba(0,0,0,0.8);
  color: rgb(29, 138, 255);
}

.delete:hover {
  color: red;
}

@media (min-width: 900px) {
  .posts_container {
    /* margin-bottom: 5px; */
  }
}