.nested_comments {
  margin-top: 20px;
  border-radius: 10px;
}

.nested_comments_container {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  background: var(--nested-comments-color);
  box-shadow: 1px 1px 1px rgba(50,50,50,0.1), 1px 1px 1px rgba(50,50,50,0.1) ;
  /* border: .5px solid var(--border-color); */
}
