
.HighlightsModal {
  position: fixed;
  background-color: black;
  z-index: 201;
  font-size: 13px;
  width: 100vw;
  max-height: 80vh;
  top: 5vh;
  overflow-y: auto;
  box-shadow: 1px 1px 1px black;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  animation-name: highlightsmodal;
  animation-duration: .5s;
  animation-iteration-count: 1;
}
@keyframes highlightsmodal {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.HighlightsModal::-webkit-scrollbar {
  width: 5px;
}
 
.ProfileHighlightsModal {
  position: fixed;
  background-color: black;
  z-index: 201;
  font-size: 13px;
  width: 100vw;
  max-height: 80vh;
  top: 5vh;
  overflow-y: auto;
  box-shadow: 1px 1px 1px black;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  animation-name: highlightsmodal;
  animation-duration: .5s;
  animation-iteration-count: 1;
}
@keyframes highlightsmodal {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@media(min-width: 1200px) {
  .HighlightsModal {
    width: 40vw;
    left: 30vw;
  }
  .ProfileHighlightsModal {
    width: 40vw;
    left: 28%;
  }
}
