.post_form {
  width: 100%;
  border: .5px solid var(--border-color);
  border-radius: 5px;
}

.text-area {
  border: none;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: auto;
  line-height: 24px;
  font-size: 17px;
  resize: none;
  color: var(--text-color);
  background: none;
}

::placeholder {
  color: var(--secondary-color);
}

.text-area:focus {
  outline: none;
}
.post-form-text-area {
  border: none;
  padding: 10px;
  width: 79.5%;
  height: auto;
  line-height: 24px;
  font-size: 17px;
  resize: none;
  color: var(--text-color);
  margin-left: 10%;
}

.post-form-text-area::placeholder {
  color: var(--text-color);
}

.otherstuff {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.disp {
  display: none; 
}

.post_submit_button {
  cursor: pointer;
  color: var(--secondary-color);
  background: none;
  border: none;
  outline: none;
  font-family: 'Ubuntu', sans-serif;
}