.CommentsModal {
  position: fixed;
  z-index: 201;
  width: 100%;
  top: 5vh;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  animation-name: commentsmodal;
  animation-duration: .4s;
  animation-iteration-count: 1;
}

@keyframes commentsmodal {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 1250px) {
  .CommentsModal {
    width: 60%;
    left: 20%;
  }
}
