.Modal {
  position: fixed;
  background-color: white;
  z-index: 201;
  width: 90%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 5%;
  top: 35%;
  box-sizing: border-box;
  text-align: center;
  animation-name: modal;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes modal {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 900px) {
  .Modal {
    /* width: 500px; */
    width: 35%;
    min-width: 500px;
    left: calc(35% - 35px);
  }
}
