.profile-content-container {
  padding-top: 70px;
  min-height: 100vh;
  max-width: 1190px;
  margin: 0 auto;
}

.profile-content {
  overflow: hidden;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto ;
  grid-template-areas: 
    'headeritems headeritems'
    'profilecredsdiv profilecredsdiv' 
    'profilefeed profilefeed';
}

#profile-avatar-div {
  grid-area: avatar;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  max-height: 200px;
  width: 200px;
  border: none;
}

#profile-avatar {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  border: 2px solid var(--secondary-color);
}

#header-items {
  grid-area: headeritems;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

#profile-header-about-info {
  grid-area: about-info;
  padding: 10px;
  margin: 10px 0;
  width: 200px;
  border: none;
}

#profile-handle {
  margin-top: -15px;
  font-size: 13px;
  color: var(--secondary-color);
}

#profile-bio {
  margin-top: 20px;
  font-size: 14px;
  max-width: 200px;
}

#profile-location {
  font-size: 15px;
  color: var(--secondary-color);
}

#profile-icons-container {
  grid-area: icons-container;
  padding: 10px;
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  grid-gap: 10px;
  border: none;
}

.profile-header-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
}

#reps_banners {
  grid-area: reps_banners;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  grid-gap: 10px;
  border: none;
} 

.reps_banner_icons {
  width: 50px;
  height: 50px;
  padding: 9px;
}

#profile-feed {
  grid-area: profilefeed;
  text-align: center;
  padding: 0 5px;
  text-align: left;
}

#profile-creds-div {
  grid-area: profilecredsdiv;
}

@media (min-width: 1200px) {
  .profile-content {
    display: grid;
    justify-items: center;
    grid-template-columns: auto 1fr 330px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      'avatar profilefeed profilecredsdiv'
      'headeritems profilefeed profilecredsdiv';
  }
  #header-items {
    display: block;
    margin-top: 55px;
  }
  #profile-feed {
    margin: 70px auto;
    max-width: 900px;
  }
  #profile-header-about-info {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  #profile-avatar {
    height: 70px;
    width: 70px;
  }
  #header-items {
    display: block;
    margin: 0 auto; 
  }
  #profile-header-about-info {
    margin-top: 0;
  }
}