                          /* MOBILE */
.profile-content-container {
  padding-top: 70px;
  min-height: 100vh;
  max-width: 1190px;
  margin: 0 auto;
}

.profile-content {
  overflow: hidden;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
    'headeritems'
    'profilecredsdiv' 
    'profilefeed';
}

#profile-avatar-div {
  grid-area: avatar;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  max-height: 200px;
  width: 200px;
  border: none;
}

#profile-avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid var(--secondary-color);
}

#header-items {
  grid-area: headeritems;
  display: block;
  margin: 0 auto;
}

#profile-header-about-info {
  grid-area: about-info;
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: none;
}

#profile-handle {
  margin-top: -15px;
  font-size: 12px;
  color: var(--reps-blue);
}

#profile-bio {
  margin-top: 20px;
  font-size: 14px;
  max-width: 200px;
}

#profile-location {
  font-size: 15px;
  color: var(--reps-blue);
}

#profile-icons-container {
  grid-area: icons-container;
  padding: 10px;
  display: grid;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: space-between;
  grid-gap: 10px;
  border: none;
}

.profile-header-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
}

#reps_banners {
  grid-area: reps_banners;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: space-between;
  grid-gap: 10px;
  border: none;
} 

.reps_banner_icons {
  width: 50px;
  height: 50px;
  padding: 9px;
}

#profile-feed {
  grid-area: profilefeed;
  text-align: center;
  padding: 10px 5px;
  text-align: left;
}

#profile-creds-div {
  grid-area: profilecredsdiv;
}


                        /* TABLET */


@media(min-width: 500px){
  .profile-content {
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
      'headeritems'
      'profilecredsdiv' 
      'profilefeed';
  }
  .profile_page_avatar_bio_wrapper {
    display: flex;
    align-items: center;
  }
  #profile-avatar {
    height: 140px;
    width: 140px;
  }
  #profile-header-about-info {
    width: 100%;
  }
  #profile-bio {
    max-width: 100%;
  }
  #profile-icons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #reps_banners {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: none;
    margin: auto;
  } 
  .reps_banner_icons {
    width: 50px;
    height: 50px;
    padding: 9px;
  }
}


                          /* DESKTOP */


@media (min-width: 1200px) {
  .profile-content {
    justify-items: center;
    grid-template-columns: auto 1fr 330px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      'avatar profilefeed profilecredsdiv'
      'headeritems profilefeed profilecredsdiv';
  }
  #header-items {
    margin-top: 55px;
    justify-items: center;
  }
  .profile_page_avatar_bio_wrapper {
    display: block;
  }
  #profile-header-about-info {
    width: 200px;
  }
  #profile-feed {
    margin: 70px auto;
    max-width: 900px;
  }
  #profile-icons-container {
    padding: 0;
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
  }
  #reps_banners {
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    padding: 0;
  } 
}