.dropzone {
  max-width: 50%;
  border-radius: 2px; 
  font-size: 15px;
  text-align: center;
  height: auto;
  padding: 10px;
  cursor: pointer;
  color: rgb(55,131,194);
  border: dashed;
  border-color: rgb(55,131,194);
                  
}