.dropdown {
  position: fixed;
  display: inline-block;
  z-index: 10;
  top: 20px;
  right: 20px;
}

.btn-line { 
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: rgb(55, 131, 194);
}

.dropdown_hover {
  display: inline-block;
  padding: 10; 
  /* color: rgb(55, 131, 194); */
  cursor: pointer; 
  border: none;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.dropdown_hover:hover {
  color: rgb(55, 131, 194);
}

.dropdown_menu {
  position: absolute;
  top: 50%;
  right: 40%;
  min-width: 200px;
  background: rgba(245, 245, 245, 0.7);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
}

.dropdown:hover .dropdown_menu {
  display: block;
}

.dropdown_menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border: none;
  text-decoration: none;
  color: black;
  /* color: #aaa; */
}

.dropdown_menu a:hover {
  background: black;
  color: #088cd3;
}

@media (max-width: 600px){
  .dropdown {
    right: 0px;
  }
}