/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popupcontent {
  visibility: hidden;
  width: 200px;
  background-color: #030303;
  color: #fff;
  text-align: center;
  border: 0.4px solid rgba(55, 131, 194, 1);
  padding: 8px 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 90;
  opacity: 0;
  transition: opacity .5s ease-in;
}

/* Popup arrow */
.popup .popupcontent::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-color) transparent;
}
.popup .likespopupcontent::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--secondary-color) transparent transparent transparent;
}

/* The like popup */
.popup .likespopupcontent {
  visibility: hidden;
  width: 170px;
  height: 250px;
  font-size: 12px;
  background-color: #030303;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  position: absolute;
  z-index: 100;
  bottom: 100%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity .5s ease-in;
}

.likespopupavatarandname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.likespopupicon {
  color: var(--secondary-color);
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  opacity: 1;
}

.popup_likes {
  font-size: 12px; 
  color: var(--secondary-color);
  padding: 10px 0px;
}

.popup_likes_avatar {
  width: 25px; 
  height: 25px; 
  margin-right: 10px;
  border-radius: 50%;
}

.popup-profile-img {
  width: 50px;
  height: 50px; 
  margin: 5px 0;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.popup > a > p {
  color: var(--secondary-color); 
  font-size: 13px;
}

.postfeed_popup_profile_info {
  padding: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.postfeed_popup_profile_info > small {
  padding-top: 10px;
}
.postfeed_popup_profile_info > p {
  font-size: 13px;
}
.postfeed_popup_profile_info > a > p {
  color: var(--secondary-color); 
  font-size: 13px;
}

.popupcontent span {
  color: var(--secondary-color); 
  font-size: 13px;
}