#comment-feed-container {
  padding: 15px;
  background: rgba(0,0,0,0.4);
  border: .3px solid black;
  margin: 1.5px 0;
  position: relative;
  display: grid;
  align-items: start;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'avatar comment_name_and_date'
    'avatar post_content'
    'avatar post_image'
    'nested_comments nested_comments';
    /* 'avatar deletebtn' */
}

#comment-feed-container:hover {
  /* background: rgba(2, 2, 12, 0.747); */
}

.nested_comments {
  grid-area: nested_comments;
  width: 100%;
  padding-top: 10px;
}

.nested_comments_container {
  margin-left: 50px; 
  background: rgba(0,0,0,0.3);
  margin-bottom: 5px;
  padding: 10px;
}

.nested_comment_avatar {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  margin-right: 5px;
}

#nested_comments_text {
  padding: 5px;
  color: white;
  font-size: 13px;
}

#comment-feed-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(123, 180, 238);
  grid-area: avatar;
}

#comment-feed-avatar:hover {
  cursor: pointer;
}

#comment_name_and_date_container {
  grid-area: comment_name_and_date
}

.comment-feed-name {
  color: rgb(29, 138, 228);
  font-size: 13px;
}

#comment-feed-date {
  font-size: 13px;
  margin-top: -5px;
  color: #7e8889;
}

#comment-feed-text {
  color: #bdc7c1;
  font-size: 15px;
  grid-area: post_content;
}

#comment-modal-text {
  color: #ccc;
}

#wrap-comment-link:hover {
  background: rgba(0,0,0,0.8);
}

#comment-anchor-container {
  text-decoration: none;
}

#comment-link-container {
  background: rgba(0,0,0,0.4);
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 90px;
  grid-template-areas:  
    'image title'
    'image title';
}
#comment-link-img {
  grid-area: image;
  max-width: 110px;
  /* min-height: 120px; */
}
#comments-grandson {
  grid-area: title;
  font-size: 12px;
  margin-left: -60px;
  max-height: 120px;
  overflow: auto;
  color: rgb(55, 131, 194);
}

.comments_image {
  max-width: 100%;
  grid-area: post_image;
}

.comments_image:hover {
  cursor: pointer;
}