.create-profile-text-area {
  border: none;
  padding: 10px;
  margin-left: -5px;
  width: 50%;
  height: auto;
  line-height: 24px;
  overflow: auto;
  font-size: 16px;
  resize: none;
  color: #ccc;
  background: rgba(0,0,0,0.5);  
}

.create-profile-text-area::placeholder {
  color: #ccc;
}

.create-profile-text-area:focus {
  outline: none;
}

.create-profile-textarea-info {
  /* color: #999; */
}

@media (max-width: 1050px) {
  .create-profile-text-area {
    width: 90%;
  }
}