.createprofilecontainer {
  height: auto; 
  width: 100vw; 
  text-align: center;
  margin-bottom: 50px;
}

.select-list {
  background: rgba(200, 200, 200, 0.9);
  color: var(--primary-color);
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 2px;
  outline: none;
  margin: 15px 0;
  height: 35px;
}

#create-profile-social-btn {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: rgb(55,131,194);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity .25s ease-in;
}
#create-profile-social-btn:hover {
  opacity: 0.7;
}

#social-inputs {
  width: 100%;
  outline: none;
  margin: 0 auto;
}

.social-links {
  font-size: 14px;
  padding: 5px;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background: rgba(200, 200, 200, 0.9);
  color: var(--primary-color);
}
.social-links::placeholder {
  color: var(--primary-color);
}

.create-profile-submit-button {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: rgb(55,131,194);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity .25s ease-in;
}
.create-profile-submit-button:hover {
  opacity: 0.7;
}

@media (min-width: 1050px) {
  .createprofilecontainer {
    width: 50%;
    margin-left: 25%;
  }
}