.create-profile {}

.createprofilecontainer {
  height: auto; 
  width: 100vw; 
  text-align: center;
  margin-bottom: 50px;
}

.select-list {
  background: rgba(10,10,10,0.5);
  color: rgba(100,100,100,0.8);
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(55, 131, 194);
  border-radius: 2px;
  outline: none;
  margin: 15px 10px;
  height: 40px;
}

#create-profile-social-btn {
  font-size: 16px;
  border: none;
  margin: 40px;
  padding: 5px;
  outline: none;
  background: rgba(10,10,10,0.5);
  color: rgba(100,100,100,0.8);
  /* color: rgb(150,150,150); */
}

#create-profile-social-btn:hover {
  cursor: pointer;
}

#social-inputs {
  width: 100%;
  outline: none;
  margin: 0 auto;
}

.social-links {
  font-size: 14px;
  border: none;
  width: 100%;
  outline: none;
  background: rgba(10,10,10,0.5);
  color: #aaa;
  border-bottom: 1px solid rgb(55, 131, 194);
  padding: 5px;
  height: 30px;
}

.social-links::placeholder {
  color: rgba(100,100,100,0.8);
  /* color: rgb(55, 131, 194); */
}

#create-profile-submit-button {
  font-size: 17px;
  padding: 8px;
  margin: 10px; 
  border: none;
  border-radius: 2px;
  outline: none;
  color: #ccc;
  background: rgba(0, 0, 0, 0.5);
}

#create-profile-submit-button:hover {
  background: rgb(0,0,0,0.7);
}

@media (min-width: 1050px) {
  .createprofilecontainer {
    width: 50%;
    margin-left: 25%;
  }
}