/* .fade-pic {
  
  animation-name: fade-pic; 
  animation-iteration-count: 1;
  animation-duration: 3.5s;
}

@keyframes fade-pic {
  from { opacity: 0; }
  to { opacity: 1; }
} */
/* img {
  width: 100%;
}

.Landing {
 
} */