.register-text-area-field-group-inputs {
  border: none;
  padding: 10px;
  margin: 15px 0px;
  width: 100%;
  height: auto;
  line-height: 24px;
  font-size: 16px;
  resize: none;
  background: rgba(200,200,200,0.9);
}

.register-text-area-field-group-inputs::placeholder {
  color: var(--primary-color);
}

.register-text-area-field-group-inputs:focus {
  outline: none;
}
.info {
  color: var(--secondary-color);
}
.error {
  padding: 5px;
  color: red;
}