.register-text-area-field-group-inputs {
  border: none;
  padding: 10px;
  margin: 15px 0px;
  width: 100%;
  height: auto;
  line-height: 24px;
  font-size: 16px;
  resize: none;
  background: rgba(10,10,10,0.5);
  color: #aaa;
  border-bottom: 1px solid rgb(55, 131, 194);
}

.register-text-area-field-group-inputs::placeholder {
  color: rgba(100,100,100,0.8);
}

.register-text-area-field-group-inputs:focus {
  outline: none;
}
.info {
  color: rgb(55, 131, 194);

}