.stores_input_wrapper {
  width: 80%;
  margin: 0 auto;
}

.certified-store-dropzone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certified-store-submit-btn-containing-div {
  text-align: center;
}

@media (min-width: 800px) {
  .stores_input_wrapper {
    width: 400px;
  }
}