.djpools_input_wrapper {
  width: 90%;
  margin: 10px 5% 10px 2.5%;
  /* margin: 10px; */
}

.djpools-dropzone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-djpool-submit-btn-containing-div {
  text-align: center;
}

#add-djpools-submit-button {
  font-size: 17px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  outline: none;
  background: none;
  color: rgba(100,100,100,0.8);
}
#add-djpools-submit-button:hover {
  color: rgb(55, 131, 194);
  cursor: pointer;
}

@media(min-width: 800px) {
  .djpools_input_wrapper {
    width: 50%;
    margin: 0 25%;
  }
}