.feed {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas:
    'chatroom'
    'mobile_icons'
    'postform'
    'btns'
    'post-feed-post-content' 
}

.chatroom {
  grid-area: chatroom;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: .5px solid var(--border-color);
  border-radius: 5px;
  position: relative;
}

.edit_icon_container {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding-bottom: 5px;
}

.post-feed-profile {
  grid-area: profile;
  display: none;
}

.post-feed-form {
  grid-area: postform;
  min-width: 100%;
}

.post-feed-post-content {
  grid-area: post-feed-post-content;
}
.post-feed-highlights { display: none; }
.img_test { display: none; }
.stores_container { display: none; }
.djpools { display: none; }
.perks_and_hookups { display: none; }
.certified_brands { display: none; }
.searchbarpost { display: none; }
.searchbar { display: none; }
.postfeed_reps_btns {
  grid-area: btns;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.postfeed_reps_btns img {
  height: 35px;
  flex: 1;
  margin: 2px;
}

.mobile_icons_container {
  grid-area: mobile_icons;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--secondary-color);
}
.mobile_icons_container div {
  cursor: pointer;
}

.post-feed-footer {
  display: none;
  grid-area: footer;
  padding: 5px;
  text-align: center;
  border: none;
  color: var(--reps-blue);
  font-size: 12px;
}

@media (min-width: 600px){
  .postfeed_reps_btns img {
    height: 60px;
    max-width: 100px;
  }
}

@media (min-width: 1200px) {
  .feed {
    overflow-x: hidden;
    display: grid;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto auto auto auto 1fr;
    grid-template-areas: 
      'searchbarpost postform searchbar'
      'profile btns postfeedhighlights'
      'profile post-feed-post-content postfeedhighlights'
      'chatroom post-feed-post-content djpools'
      'chatroom post-feed-post-content perks'
      'footer post-feed-post-content brands'
      'footer post-feed-post-content stores'; 
  }

  .mobile_icons_container { display: none; }

  .postfeed_reps_btns {
    grid-area: btns;
    width: 620px;
  }
  .postfeed_reps_btns img {
    height: 60px;
  }

  .searchbar {
    grid-area: searchbar;
    position: relative;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    border: .5px solid var(--border-color);
    z-index: 2;
  }
  .searchbar > div {
    position: absolute; 
    top: 100%; 
    right: 0px;
  }
  .searchbar_items {
    display: flex;
    width: 250px; 
    padding: 10px;
    font-size: 13px;
    color: var(--text-color);
    background: rgba(0,0,0,0.89);
  }
  .searchbar_items:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
    cursor: pointer;
  }
  .searchbar_input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 5px;
    font-size: 13px;
    /* background: rgba(0,0,0,0.89); */
    background: var(--secondary-color);
    border: none;
    color: var(--deep-color);
  }
  .searchbar_input::placeholder {
    color: var(--deep-color);
  }

  .searchbarpost {
    grid-area: searchbarpost;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 250px;
    border-radius: 4px;
  }
  
  .searchbarpostinput {
    flex: 8; 
    background: var(--secondary-color);
    border: 0.5px solid var(--border-color); 
    color: var(0,0,0);
    font-size: 13px;
    padding-left: 5px;
    outline: none;
  }
  .searchbarpostinput::placeholder {
    font-size: 13px;
    padding-left: 5px;
    color: black;
  }
  
  .searchbarpostbtn {
    flex: 1;
    cursor: pointer;  
    height: 40; 
    background: none;
    color: var(--secondary-color);
    padding: 10px; 
    border: 0.5px solid var(--border-color);
    outline: none; 
  }
  .searchbarpostbtn:hover {
    border: .5px solid var(--secondary-color);
  }

  .post-feed-profile {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: profile;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    margin-top: -30px;
    border: .5px solid var(--border-color);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .post-feed-highlights {
    grid-area: postfeedhighlights;
    display: flex;
    width: 250px;
    height: 250px;
    margin: 0;
    margin-top: -30px;
  }

  .stores_container {
    grid-area: stores;
    display: flex;
    width: 250px;
    height: 250px;
  }

  .djpools {
    grid-area: djpools;
    display: flex;
    width: 250px;
    height: 250px;
    position: relative;
    overflow-x: hidden;
  }

  .perks_and_hookups {
    grid-area: perks;
    display: flex;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
  }

  .certified_brands {
    grid-area: brands;
    display: flex;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
  }

  .post-feed-footer {
    display: flex;
    margin-top: -170px;
  }
}