.promos_input_wrapper {
  width: 80%;
  margin: 0 auto;
}
.add-promo-submit-btn {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: rgb(55,131,194);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity .25s ease-in;
}
.add-promo-submit-btn:hover {
  opacity: 0.7;
}
@media(min-width: 800px) {
  .promos_input_wrapper {
    width: 400px;
  }
}