/* .chat-group-section {} */

#group-chat-header {
  background: rgba(0,0,0,0.7);
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 5px;
}

.group-chat-reps-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  left: 0;
  bottom: 5;
  margin: 0px 0px 5px 10px;
  animation-name: group-chat-reps-icon;
  animation-duration: .5s;
  animation-iteration-count: 1;
  opacity: .5;
  cursor: pointer;
}
.group-chat-reps-icon:hover {
  opacity: 1;
}
@keyframes group-chat-reps-icon {
  0% {
    transform: translateX(-100vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#group-chat-name {
  color: var(--secondary-color);
  font-style: italic;
  letter-spacing: 2px;
  font-size: 1rem;
}

.chat-group-messages {
  padding: 10px;
  margin: 50px 0px 100px 0px;
}

.group-chat-output {
  display: grid;
  justify-items: flex-start;
  align-items: center;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'chat-group-avatar chat-group-text';
}

.chat-group-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  grid-area: chat-group-avatar;
}

.chat-group-text {
  background: var(--border-color);
  color: #ccc;
  padding: .6rem;
  border-radius: 10px;
  grid-area: chat-group-text;
}

.group-chat-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  height: 50px;
}