.post_text_mentions {
  text-decoration: none;
  color: var(--reps-blue);
}

.post_text_hashtags {
  text-decoration: none;
  color: var(--reps-blue);
}

.post_text_urls {
  text-decoration: none;
  color: var(--reps-blue);
}